doctype html
html
    include includes/head.pug
    body
        audio(controls autoplay)
            source(src='assets/justrelax.mp3' type='audio/mp3')
        div(id='particles-js')
        h1 placeholder<br>persistent will be online soon<br>web design is my passion
        script(src='bundle.js')

        script.
            particlesJS.load('particles-js', 'assets/particles.json', function(){
                console.log('callback - particles.js config loaded');
            });
